@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-line-highlight span.token {
    @apply bg-dark-neutral-border;
  }

  .prose {
    & code {
      @apply text-secondary-text;
    }

    & a {
      @apply text-accent-text;
      text-decoration: none;
    }

    & code[data-lexical-text] {
      @apply font-mono;
      font-size: inherit;
      font-weight: inherit;
      &:before, &:after {
        content: none;
      }
    }

    /* reset the prose borders */
    & [data-lexical-decorator] > table {
      table-layout: fixed;
      & td {
        vertical-align: middle;
      }
      & > thead, & > tfoot, & > tbody > tr {
        border: 0;
      }

      & [data-tool-cell] {
        padding: 1px;
        border: 0;
        line-height: 1rem;
        vertical-align: middle;
      }

      & > thead [data-tool-cell]:first-child {
        vertical-align: middle;
      }
    }

    & pre[class*="language-"], & code[class*="language-"] {
      @apply font-mono;
      font-size: inherit;
    }

    & [data-editor-type=frontmatter] {
      & table {
        margin: 0;
        font-size: inherit;
        width: auto;
        & thead, & tbody, & tfoot, & tr {
          border: 0;
        }
      }
    }
  }

  .api-ref-nav > dl > dd > dl {
    @apply pl-2;
  }

  .doc-nav {
    & a:hover {
      @apply text-accent-text;
    }

    & a[data-current=true] {
      @apply text-accent-text cursor-default;

    }
  }

  h2#classes + table,
  h2#functions + table,
  h2#interfaces + table,
  h2#type-aliases + table
  {
    & td:first-child, 
    & tr:first-child {
      width: 50%;
    }
  }
}


