@import url('mdxeditor/style.css');
@import url('prism-themes/themes/prism-vsc-dark-plus.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .my-line-highlight span.token {
    @apply bg-dark-neutral-border;
  }

  .prose code[data-lexical-text] {
    @apply font-mono;
    font-size: inherit;
    font-weight: inherit;
    &:before, &:after {
      content: none;
    }
  }
}
pre[class*="language-"], code[class*="language-"] {
  @apply font-mono;
  font-size: inherit;
}

